<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pokemonCard.css">
    <title>Pokemon Card</title>
</head>
<body>
    <div class="card">
        <h1 th:text="${card.name}">Card Name</h1>
        <p th:text="'Price: $' + ${card.price}">Price</p>
        <img th:src="@{/assets/{img}(img=${card.image})}" alt="Card Image" width="130" height="180">
        <a th:href="@{/card/edit/{id}(id=${card.id})}">Edit</a>
    </div>
</body>
</html>
</div>
</html>