<nav th:fragment="nav" class="navbar navbar-expand-lg custom-navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid navbar-overlay">
        <button class="navbar-toggler bg-dark-subtle" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" th:classappend="${activePage == 'home'} ? ' active'">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${activePage == 'sell'} ? ' active'">
                    <a class="nav-link" th:href="@{/card/new}">Sell</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:classappend="${activePage == 'login' ? 'active' : ''}" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:classappend="${activePage == 'register' ? 'active' : ''}" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                        <button class="nav-link btn btn-link">
                            <span sec:authentication="name"></span>
                        </button>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>