@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #152733;
    overflow: auto;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #fff;
    border-radius: 10px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    width: 100%;
    min-width: 540px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
    background-color: #fff;
}

.form-content h2 {
    color: #152733;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form-content label {
    color: #152733;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.form-content input[type=text], .form-content input[type=password] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 6px;
    background-color: #f8f9fa;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.form-content input:focus {
    background-color: #ebeff8;
    border-color: #007bff;
}

.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #495056;
    color: #f8f9fa;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-primary.disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
    opacity: 0.6;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.indicator.success {
    background-color: #2acc80;
    opacity: 1;
}

.indicator.error {
    background-color: #ff606e;
    opacity: 1;
}



@media (max-width: 576px) {
    .form-holder .form-content {
        padding: 20px;
    }
    .form-content .form-items {
        min-width: 100%;
        padding: 20px;
    }
}