.btn-primary.disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
    opacity: 0.6;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.indicator.success {
    background-color: #2acc80;
    opacity: 1;
}

.indicator.error {
    background-color: #ff606e;
    opacity: 1;
}