<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/pokemonCard.css">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">

    <title>Pokemon Card</title>
</head>
<body>

<header th:replace="fragments/common :: header"></header>

<nav>
    <a href="/">Home</a>
    <a href="/card/new">Sell</a>
</nav>

    <div class="card">
        <h1 th:text="${card.name}">Card Name</h1>
        <p th:text="'Game: ' + ${card.game}">Game</p>
        <p th:text="'Description: ' + ${card.description}">Type</p>
        <p th:text="'Author: ' + ${card.author}">Author</p>
        <p th:text="'Price: $' + ${card.price}">Price</p>
        <p th:text="'Condition: ' + ${card.condition}">Price</p>
        <img th:src="@{${card.image}}" th:alt="${card.name}"  width="130" height="400">
        <a id="update" th:href="@{'/card/' + ${card.id} + '/edit'}">UPDATE</a>
        <a id="delete" th:href="@{'/card/' + ${card.id} + '/delete'}">DELETE</a>
    </div>

<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>