<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CARD STORE</title>
        <link rel="stylesheet" href="/css/mainPage.css">
        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
    </head>
    <body>

    <header th:replace="fragments/common :: header"></header>

    <nav>
            <a href="/" class="active">Home</a>
            <a href="/card/new">Sell</a>
    </nav>

        <div class="page-container">
            <div class="main-content">
                <section class="welcome">
                    <h2>WELCOME TO CARD STORE</h2>
                    <p>Here you can find the best Pokemon and Magic the Gathering cards for sale!</p>
                </section>

                <section>
                    <h2>Pòkemon cards:</h2>
                    <div class="card-container">
                        <article th:each="card : ${cards}" th:if="${card.game.toString() == 'POKEMON'}" class="cardPokemon">
                            <div>
                                <h2 th:text="${card.name}">Card Name</h2>
                                <p>Price: <span th:text="${card.price}">0.00</span> $</p>
                            </div>
                            <a th:href="@{/card/{id}(id=${card.id})}">
                                <img th:src="@{'/uploads/' + ${filename}}" alt="Immagine caricata">
                            </a>
                        </article>
                    </div>
                </section>
                <section>
                <h2>Magic cards:</h2>
                <div class="card-container">
                    <article th:each="card : ${cards}" th:if="${card.game.toString() == 'MAGIC'}" class="cardMagic">
                        <div>
                            <h2 th:text="${card.name}">Card Name</h2>
                            <p>Price: <span th:text="${card.price}">0.00</span> $</p>
                        </div>
                        <a th:href="@{/card/{id}(id=${card.id})}">
                            <img th:src="@{${card.imageUrl}}" th:alt="${card.name}"  width="130" height="180">
                        </a>
                    </article>
                </div>
                </section>
            </div>
            <aside>
                <h2>NEWS</h2>
                <p>Stay updated with the latest news on Pokemon and Magic the Gathering!</p>
            </aside>
        </div>

    <footer th:replace="fragments/common :: footer"></footer>

    </body>
</html>