body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    background-color: #f8f8f8;
    background-image: linear-gradient(to right, #6600ff, #ff6600);
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #6600ff;
    padding: 10px;
    border-bottom: 2px solid #300077;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

nav a.active {
    font-weight: bold;
    color: red;
    background-color: #6600ff;
}

nav a:hover {
    background-color: #9c38ff;
    color: #fff;
}

.page-container {
    display: flex;
    background-color: #f8f8f8;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    width: 65%;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.cardPokemon {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 15px;
    background-image: url("../assets/backPokemon.webp");
    background-size: cover;
    background-position: center;
}  

.cardMagic {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 15px;
    background-image: url("../assets/backMagic.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
} 

.card img {
    margin-bottom: 10px;
}

aside {
    flex: 1;
    background-color: #f1f1f1;
    border-radius: 15px;
    height: max-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid #5e00a1;
}

.welcome{
    font-size: 20px;
    font-weight: bold;
    color: #6600ff;
}

footer{
    background-color: #6600ff;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}



